.vscode/
kernel/**/artifacts/
uboot/**/artifacts/
rootfs/mntext/
rootfs/mntfat/
os-release
bcm2837_rpi_3bp_defconfig
bcm2711_rpi_4b_defconfig
bcm2837_rpi_3b_defconfig
x86_64_defconfig
initrd/common/initramfs/etc/
initrd/common/initramfs/newroot/
initrd/common/initramfs/proc/
initrd/common/initramfs/root/
initrd/common/initramfs/sbin/
initrd/common/initramfs/sys/
emerg.img
lasco
*/**/*.tar.gz
